﻿@{
    ViewBag.Title = "Home Page";
}
<br />
<div class="row">
    @foreach (var item in ViewBag.repo)
    {
    <div class="col-sm-3">
            <div class="card mt-3" data-toggle="collapse" data-target="#collapse-@item.id" aria-expanded="false" aria-controls="collapse-@item.id">
                <div class="card-body">
                        <h5 class="card-title"><a href="@item.link">@item.name</a></h5>
                        <h6 class="card-subtitle mb-2 text-muted">@item.version</h6>
                </div>
            </div>
            <div class="collapse" id="collapse-@item.id">
                <div class="card card-body">
                    @item.pulltitle
                </div>
            </div>
    </div>
      }
</div>
<script>

</script>